################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/kangelwebsite/config/applicationhost.config
/.vs/kangelwebsite/FileContentIndex/426d9358-0230-4edb-8051-2180155d528f.vsidx
/.vs/kangelwebsite/FileContentIndex/67545bfb-49bc-4331-b5ae-0ad76eb2e22b.vsidx
/.vs/kangelwebsite/FileContentIndex/96755257-cb84-4514-b0f6-58c708a3646e.vsidx
/.vs/kangelwebsite/v17/.wsuo
/.vs/mintyly.github.io/FileContentIndex/66dd46a8-db22-4a05-b93e-1dbf9ecf229a.vsidx
/.vs/mintyly.github.io/FileContentIndex/85be4f1d-3492-498d-b982-c534a805e765.vsidx
