
/* user styles */
/* styles are what change the color and sizes of stuff on your site. */
/* these are variables that are being used in the code
        these tended to confuse some people, so I only kept
        the images as variables */
:root {
/*    --header-image: url('images/banner_website_text.png');*/
    --body-bg-image: url('images/Windose20-wallpaper.png');
    /* colors */
    --content: #462DC6;
}


/* if you have the URL of a font, you can set it below */
/* feel free to delete this if it's not your vibe */

/* this seems like a lot for just one font and I would have to agree
        but I wanted to include an example of how to include a custom font.
        If you download a font file you can upload it onto your Neocities
        and then link it! Many fonts have separate files for each style
        (bold, italic, etc. T_T) which is why there are so many!

        */

@font-face {
    font-family: 'CustomFont';
    src: url('fonts/zpix.ttf') format('truetype');
    /* Add additional src declarations for other font formats if desired */
}


body {
    font-family: 'CustomFont', Arial, Helvetica, sans-serif;
    margin: 0;
    margin-top: 10px;
    background-color: #462DC6;
    /* you can delete the line below if you'd prefer to not use an image */
    /*    background-size: 65px;*/
    color: #462DC6;
    background-image: var(--body-bg-image);

}

* {
    box-sizing: border-box;
}

img {
    margin: 0;
}


/* below this line is CSS for the layout */

/* this is a CSS comment
        to uncomment a line of CSS, remove the * and the /
        before and after the text */


/* the "container" is what wraps your entire website */
/* if you want something (like the header) to be Wider than
        the other elements, you will need to move that div outside
        of the container */
#container {
    max-width: 1100px;
    /* this is the width of your layout! */
    /* if you change the above value, scroll to the bottom
          and change the media query according to the comment! */
    margin: 0 auto;
    /* this centers the entire page */
}

    /* the area below is for all links on your page
        EXCEPT for the navigation */
    #container a {
        color: #462DC6;
        font-weight: bold;
        /* if you want to remove the underline
        you can add a line below here that says:
        text-decoration:none; */
    }


#header {
    width: 100%;
    background-color: #462DC6;
    /* header color here! */
    /* this is only for a background image! */
    /* if you want to put images IN the header,
          you can add them directly to the <div id="header"></div> element! */
    background-size: contain;
    background-image: var(--header-image);
    background-position: center;
    height: 225px;
    width: auto;
}

    #header img {
        height: 225px;
        width: auto;
    }


/* navigation section!! */
#navbar {
    height: 40px;
    background-color: #f9eff9;
    /* navbar color */
    width: 100%;
    border-top: solid;
    border-color: #462DC6;
    border-width: 2px;
}

#navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-evenly;
}

#navbar li {
    padding-top: 10px;
}

/* navigation links*/
    #navbar li a {
        color: #462DC6;
        /* navbar text color */
        font-weight: 800;
        text-decoration: none;
        /* this removes the underline */
    }

/* navigation link when a link is hovered over */
#navbar li a:hover {
    color: #a49cba;
    text-decoration: underline;
}

#flex {
    display: flex;
}

/* this colors BOTH sidebars
        if you want to style them separately,
        create styles for #leftSidebar and #rightSidebar */

/* this is the color of the main content area,
        between the sidebars! */
#content {
    flex: 1;
    order: 2;
    margin-right: 0px;
    margin-top: 10px;
    width: 400px;
    border: solid;
    border-color: #462DC6;
    border-width: 2px;
    background-color: #ead2ec;
    padding: 3px;
    padding-bottom: 0;
    font-size: smaller;
    display: flex;
    flex-direction: column;
}
#content:hover {
    background-color: #94f1e1;
}

#content1 {
    flex: 1;
    order: 2;
    margin-right: 0px;
    margin-top: 10px;
    width: 300px;
    border: solid;
    border-color: #462DC6;
    border-width: 2px;
    background-color: #ead2ec;
    padding: 3px;
    padding-bottom: 0;
    font-size: smaller;
    display: flex;
    flex-direction: column;
}

    #content1:hover {
        background-color: #94f1e1;
    }


/* what's this "order" stuff about??
        allow me to explain!
        if you're using both sidebars, the "order" value
        tells the CSS the order in which to display them.
        left sidebar is 1, content is 2, and right sidebar is 3! */

*/ #leftSidebar {
    order: 1;
}

#rightSidebar {
    order: 3;
}

footer {
    background-color: #ead2ec;
    /* background color for footer */
    width: 100%;
    /*height: 40px;*/
    padding: 3px;
    padding-bottom: 0;
    /*text-align: center;*/
    /* this centers the footer text */
    border: solid;
    border-color: #462DC6;
    border-width: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer:hover {
    background-color: #94f1e1;
}

h1,
h2,
h3 {
    color: #462DC6;
}

h1 {
    font-size: 25px;
}

strong {
    /* this styles bold text */
    color: #462DC6;
}

/* this is just a cool box, it's the darker colored one */
.box {
    background-color: #ead2ec;
    border: 1px solid #462DC6;
    padding: 10px;
    margin: 0;

}

.rectangle {
    width: 35px;
    height: 8px;
    background: #eb9fe7;
    margin-top: 4px;
    margin-bottom: 0px;
    border: solid;
    border-bottom: none;
    border-color: #462DC6;
    border-width: 2px;
}

.square {
    width: 6px;
    height: 6px;
    margin-top: 4px;
    margin-bottom: 0px;
    margin-left: 1px;
    /*margin-right: 0px;*/
    border: solid;
    border-color: #462DC6;
    border-width: 2px;
}

#bottombottoms {
    display: flex;
    
}
/* CSS for extras */
#toppart {
    background-color: #ead2ec;
    border: solid;
    border-color: #462DC6;
    margin-bottom: 0px;
    border-width: 2px;
    margin-right: 10px;
    padding: 3px;
    padding-top: 1px;
    padding-bottom: 0px;
}

    #toppart:hover {
        background-color: #94f1e1;
    }

#topBar {
    display: flex; /* Add this to enable Flexbox */
    align-items: center; /* Vertically center items */
    justify-content: flex-start; /* Align items to the left */
    width: 100%;
    height: 30px;
    /*padding: 3px;*/
    padding-top: 0;
    padding-bottom: 0;
    /*font-size: smaller;*/
    color: #462DC6;
/*    background-color: #e2e2e2;*/
    border-bottom: solid;
    border-color: #462DC6;
    border-width: 2px;
    border-bottom: none;
}

/*    #topBar:hover {
        background-color: #94f1e1;
    }*/

#internaltopBar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align items to the left and right edges */
    width: 100%;
    height: 26px;
    padding-left: 1px;
    font-weight: bold;
    font-size: 13px;
    color: #462DC6;
    background-color: #e2e2e2;
    border: solid;
    border-color: #462DC6;
    border-width: 2px;
}

#bannerimage {
    height: 225px;
    width: 715px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

#amegif {
    height: 225px;
    width: 348px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}



#leftContent {
    display: flex;
    align-items: center;
}


#internaltopBar p {
    margin: 0; /* Reset margin to remove extra spacing */
}

#internaltopBar img {
    padding-right: 4px;
}

#internaltopBar #button {
    justify-content: flex-end; /* Align the buttons to the right */
}

#leftButtons {
    display: flex;
    align-items: center;
}



/*    #internaltopBar:hover {
        background-color: #ead2ec;
    }*/

#headerArea {
/*    padding: 3px;*/
}

#internalheaderArea {
    /*display: flex;*/ /* Add this to enable Flexbox */
    /*align-items: center;*/ /* Vertically center items */
    /*justify-content: flex-start;*/ /* Align items to the left */
    /*width: 100%;*/
/*    height: 22px;
    padding: 5px;*/
    font-weight: bold;
    font-size: medium;
    color: #462DC6;
    background-color: #e2e2e2;
    border: solid;
    border-color: #462DC6;
    border-width: 2px;
    margin-top: 1px;
}

#leftSidebar {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-top: 10px;
    width: 300px;
    border: solid;
    border-color: #462DC6;
    border-width: 2px;
    background-color: #ead2ec;
    padding: 3px;
    padding-bottom: 0px;
    font-size: smaller;
}

    #leftSidebar:hover {
        background-color: #94f1e1;
    }

#leftSidebar1 {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-top: 10px;
    width: 400px;
    width: auto;
    border: solid;
    border-color: #462DC6;
    border-width: 2px;
    background-color: #ead2ec;
    padding: 3px;
    padding-bottom: 0px;
    font-size: smaller;
}

    #leftSidebar1:hover {
        background-color: #94f1e1;
    }
.side-by-side {
    display: flex;
    align-items: center; /* Vertically align items */
}

    .side-by-side h3 {
        margin: 0; /* Reset margin to remove extra spacing */
        margin-left: -15px;
        margin-top: -15px;
        margin-bottom: 5px;

    }

    .side-by-side img {
        width: 100px;
        height: 100px;
        margin: 0;
        margin-right: 20px; /* Add some spacing between img and h3 */
        border: solid;
        border-color: #462DC6;
        border-radius: 100%;
        border-width: 1px;
    }

#leftSidebarTopBar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    color: #462DC6;
    background-color: #e2e2e2;
    border-bottom: solid;
    border-color: #462DC6;
    border-width: 2px;
}
/*    #leftSidebarTopBar:hover {
        background-color: #ead2ec;
    }*/

#bottomBarMargin {

    padding: 20px;
    border: solid;
    background-color: #f9eff9;
    border-color: #462DC6;
    border-width: 2px;
    margin-top: 3px;
    flex-grow: 1;
}

.secrettext {
    padding-left: 140px;
    margin: 0;

}

.secreticon {
    padding-left: 150px;
    padding-top: 100px;
}

#secretsection {
    opacity: 0;
    visibility: hidden; /* Make sure it is hidden by default */
    transition: opacity 0.5s ease, visibility 0s linear 0.5s; /* Transition for opacity and visibility */
}

#secretsection.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease;
}


/* BELOW THIS POINT IS MEDIA QUERY */
/* so you wanna change the width of your page?
        by default, the container width is 900px.
        in order to keep things responsive, take your new height,
        and then subtrack it by 100. use this new number as the
        "max-width" value below
        */
        @media only screen and (max-width: 1100px) {

            /* the order of the items is adjusted here for responsiveness!
                  since the sidebars would be too small on a mobile device.
                  feel free to play around with the order!
                  */
            #top {
                order: 2;
            }
        
            #leftSidebar {
                order: 1;
            }
        
            #content {
                order: 2;
            }
        
            #navbar ul {
                flex-wrap: wrap;
            }
        
        
            /* Add other mobile-specific styles here */
        
            #bannerimage {
                max-height: 225px;
                height: auto;
                width: 100%;
                margin: 0;
                padding: 0;
                vertical-align: middle;
                object-fit: contain;
        
            }
        
            #amegif {
                max-height: 225px;
                height: auto;
                width: 100%;
                margin: 0;
                padding: 0;
                vertical-align: middle;
                object-fit: contain;
            }
            
        
            #section1, #section2{
                width: auto;
                height: auto;
                margin-top: 5px;
                margin-left: 5px;
                margin-right: 5px;
            }
            
            #leftSidebar, #leftSidebar1{
                margin-left: 5px;
            }

            #content, #content1 {
                margin-right: 5px;
            }
        
            #banners{
                width: auto;
                height: auto;
            }
        
            #toppart {
                margin-top: 5px;
                margin-left: 5px;
                margin-right: 5px;
            }
        
            #footer {
                width: auto;
                height: auto;
                margin-top: 10px;
                margin-left: 5px;
                margin-right: 5px;
            }
        
        }