---
import { getCollection } from 'astro:content';
import '../styles/kangel.css';
const posts = await getCollection('ctfblog');
---

<div id="container">
  <div id="container2">
    <div class="window hoverable-window">
      <div class="title-bar">
        <div class="btn box"></div>
        <div class="title">ctf blog.txt</div>
        <div class="window-controls">
          <div class="btn close"></div>
          <div class="btn minimize"></div>
          <div class="btn maximize"></div>
        </div>
      </div>

      <div class="content">
        <section>
          <ul>
            {posts.map(post => (
              <li>
                <a href={`/ctfblog/${post.slug}/`}>{post.data.title}</a>
                <span> — {post.data.date}</span>
              </li>
            ))}
          </ul>
        </section>
      </div>

      <div class="bottom-bar">
        <div class="btmbtn main"></div>
        <div class="btmbtn small"></div>
        <div class="btmbtn small"></div>
        <div class="btmbtn small"></div>
      </div>
    </div>
  </div>
</div>