---
import '../styles/kangel.css';
---

<div id="lastfm-window">
  <div class="window hoverable-window">
    <div class="title-bar">
      <div class="btn box"></div>
      <div class="title">last.fm</div>
      <div class="window-controls">
        <div class="btn close"></div>
        <div class="btn minimize"></div>
        <div class="btn maximize"></div>
      </div>
    </div>

    <div class="content">
      <div id="lastfm-reader" data-user=mintyly data-api-key=7a6a9d9af3a543d82266d8f0ff110f2c>
        Loading Last.fm…
      </div>
    </div>

    <div class="bottom-bar">
      <div class="btmbtn main"></div>
      <div class="btmbtn small"></div>
      <div class="btmbtn small"></div>
      <div class="btmbtn small"></div>
    </div>
  </div>
</div>
