---
import pfp from '../assets/pfp.jpeg';
import '../styles/kangel.css';
---

<nav id="side-navbar">
			<div class="window hoverable-window">
						<div class="title-bar">
							<div class="btn box"></div>
							<div class="title">nav.txt</div>
							<div class="window-controls">
							<div class="btn close"></div>
							<div class="btn minimize"></div>
							<div class="btn maximize"></div>
							</div>
						</div>

						<div class="content">
							<ul>
								<li><a href="/">home</a></li>
								<li><a href="/ctfblog">ctf blog</a></li>
								<li><a href="/writing">writing</a></li>
							</ul>
						</div>

						<div class="bottom-bar">
							<div class="btmbtn main"></div>
							<div class="btmbtn small"></div>
							<div class="btmbtn small"></div>
							<div class="btmbtn small"></div>
						</div>
						</div>

		</nav>

		<button id="nav-toggle"></button>