---
import pfp from '../assets/pfp.jpeg';
import '../styles/kangel.css';
import Greeting from '../components/Greeting.astro';
---


<div id="container">
  <div id="container2">
    <div class="window hoverable-window">
      <div class="title-bar">
        <div class="btn box"></div>
        <div class="title">portfolio.txt</div>
        <div class="window-controls">
          <div class="btn close"></div>
          <div class="btn minimize"></div>
          <div class="btn maximize"></div>
        </div>
      </div>

      <div class="content">
        <section id="portfolio">
          <ul>
            <li><strong>2025</strong>
              <ul>
                <li>Diploma in Cybersecurity & Digital Forensics</li>
                <li>Diploma Plus Certificate in Advanced Computing Mathematics</li>
                <li>LNC 5.0 Challenge Creator</li>
              </ul>
            </li>
            <li><strong>2024</strong>
              <ul>
                <li>Edusave Merit Bursary (EMB)</li>
                <li>LNC 4.0 Challenge Creator</li>
              </ul>
            </li>
            <li><strong>2023</strong>
              <ul>
                <li>Singtel Cadet Scholar (Cyber)</li>
                <li>AWS Certified Cloud Practitioner</li>
                <li>AiSP Student Volunteer Recognition Programme Silver Award</li>
                <li>Sentinel Programme Workshop - Cyber Data Analysis</li>
              </ul>
            </li>
            <li><strong>2022</strong>
              <ul>
                <li>Lag and Crash 4th (fate fairy poultry)</li>
                <li>Curtin Singapore Hackathon - Mycological Mayhem</li>
              </ul>
            </li>
            <li><strong>2021</strong>
              <ul>
                <li>YCEP@TP - 3rd</li>
                <li>YCEP@NP - 4th</li>
                <li>YCEP@RP - 4th</li>
                <li>YCEP Online</li>
                <li>Edusave Award for achievements, good leadership, &amp; Service (EAGLES)</li>
                <li>Cisco Introduction to Cybersecurity</li>
              </ul>
            </li>
            <li><strong>2020</strong>
              <ul>
                <li>Edusave Character Award (ECHA)</li>
                <li>Edusave Award for achievements, good leadership, &amp; Service (EAGLES)</li>
                <li>YCEP@NP - 1st</li>
                <li>YCEP@Central - 3rd</li>
                <li>YCEP@RP - 10th</li>
                <li>YCEP@SP</li>
                <li>YCEP Online</li>
                <li>STACK the Flags</li>
              </ul>
            </li>
          </ul>

        </section>
      </div>

      <div class="bottom-bar">
        <div class="btmbtn main"></div>
        <div class="btmbtn small"></div>
        <div class="btmbtn small"></div>
        <div class="btmbtn small"></div>
      </div>
    </div>
  </div>
</div>