---
import '../styles/kangel.css';
---

<div id="tip-window">
  <div class="window hoverable-window">
    <div class="title-bar">
      <div class="btn box"></div>
      <div class="title">tip.txt</div>
      <div class="window-controls">
        <div class="btn close"></div>
        <div class="btn minimize"></div>
        <div class="btn maximize"></div>
      </div>
    </div>

    <div class="content">
      <p>on desktop? try dragging the floating windows around!</p>
    </div>

    <div class="bottom-bar">
      <div class="btmbtn main"></div>
      <div class="btmbtn small"></div>
      <div class="btmbtn small"></div>
      <div class="btmbtn small"></div>
    </div>
  </div>
</div>
