---
import pfp from '../assets/pfp.jpeg';
import '../styles/kangel.css';
import Greeting from '../components/Greeting.astro';
import { getEntry, render } from 'astro:content';

const welcomeEntry = await getEntry('welcome', 'welcome');
const { Content } = await render(welcomeEntry);
---


<div id="container">
  <div id="container2">
    <div class="window hoverable-window">
      <div class="title-bar">
        <div class="btn box"></div>
        <div class="title">welcome.txt</div>
        <div class="window-controls">
          <div class="btn close"></div>
          <div class="btn minimize"></div>
          <div class="btn maximize"></div>
        </div>
      </div>

      <div class="content">
        <div class="intro-flex">
          <img src={pfp.src} alt="Profile picture" class="pfp" />
          <div>
            <h1><Greeting /></h1>
            <ul>
              {welcomeEntry.data.roles.map(role => (
                <li><strong>{role}</strong></li>
              ))}
            </ul>
          </div>
        </div>
        <Content />
      </div>

      <div class="bottom-bar">
        <div class="btmbtn main"></div>
        <div class="btmbtn small"></div>
        <div class="btmbtn small"></div>
        <div class="btmbtn small"></div>
      </div>
    </div>
  </div>
</div>


