---
import pfp from '../assets/pfp.jpeg';
import '../styles/kangel.css';
import Greeting from '../components/Greeting.astro';
---


<div id="container">
  <div id="container2">
    <div class="window hoverable-window">
      <div class="title-bar">
        <div class="btn box"></div>
        <div class="title">writing.txt</div>
        <div class="window-controls">
          <div class="btn close"></div>
          <div class="btn minimize"></div>
          <div class="btn maximize"></div>
        </div>
      </div>

      <div class="content">
        <section id="">
          <p>to be or not to be</p>
        </section>
      </div>

      <div class="bottom-bar">
        <div class="btmbtn main"></div>
        <div class="btmbtn small"></div>
        <div class="btmbtn small"></div>
        <div class="btmbtn small"></div>
      </div>
    </div>
  </div>
</div>